{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello, friend! ✅</h1>

    {% if not app.user %}
        <a href="/register" class="button is-primary">
            <strong>Регистрация</strong>
        </a> <br>
        <a href="/login" class="button is-light">
            Войти
        </a>
    {% else %}
        <a href="/cabinet/test" class="button is-light">
            Пройти тест
        </a> <br>
        <a href="/logout" class="button is-light">
            Выйти
        </a>
    {% endif %}

</div>
{% endblock %}
