<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Тест</title>
</head>
<body>
<div align="center">
    <form action="/anotations" method="post">
        <h1>Выберите тему</h1>
        <p><select name="title">
                {% for title in titles %}
                    <option>{{ title }}</option>
                {% endfor %}
            </select></p>
        <p><input type="submit" value="Комментировать"></p>
    </form>
</div>
</body>
</html>